%table.table
  %thead
    %tr
      %th Title
      %th Author

  %tbody
    - blogs.each do |blog|
      %tr
        %td
          = link_to blog.title, blog
          = blog.status_badge
        %td= link_to blog.author.nickname, blog.author
