%table.table
  %thead
    %tr
      %th Date
      %th Title
      %th Author

  %tbody
    - blogs.each do |blog|
      %tr
        %td= blog.created_at.to_date
        &nbsp;
        %td
          = link_to blog.title, blog
          - blog.tags.each do |tag|
            = link_to tag.name, tag, class: 'btn btn-default btn-xs'
        %td= link_to blog.author.nickname, blog.author
