%table.table
  %thead
    %tr
      %th Date
      %th Title
      %th Author

  %tbody
    - blogs.each do |blog|
      %tr
        %td.text-nowrap.text-lg-right
          = blog.created_at.to_date
        %td
          = link_to blog.title, blog
          - blog.tags.each do |tag|
            %a.badge.badge-light{ href: tag_path(tag) }= tag.name
        %td.text-nowrap= link_to blog.author.nickname, blog.author
