%h1 Listing blogs

%table.table
  %thead
    %tr
      %th Title
      %th Author

  %tbody
    - @blogs.each do |blog|
      %tr
        %td
          = link_to blog.title, blog
          = blog.status_badge
        %td= link_to blog.author.nickname, blog.author

%br

= link_to 'New Blog', new_blog_path
