.row
  .col-12
    %h1 Editing user

.row
  .col-12
    = render 'form'

.row
  .col-12
    %ul.list-inline
      - if @user.editable?(current_user)
        %li.list-inline-item
          = link_to 'Show', @user
      %li.list-inline-item
        = link_to 'Back', users_path
