.row
  .col-3
    .card
      %img.card-img-top{ src: @user.icon_url, hight: '200', width: '200' }

      .card-body
        %h1.card-title= @user.nickname
        = simple_format @user.introduction

.row
  .col-12
    %ul.list-inline
      - if @user.editable?(current_user)
        %li.list-inline-item
          = link_to 'Edit', edit_user_path(@user)
      %li.list-inline-item
        = link_to 'Back', users_path
