.markdown {
  table {
    border: 1px solid darkgray;
    margin: 20px;

    th {
      border: 1px solid darkgray;
      background-color: gainsboro;
      padding: 10px;
    }

    td {
      border: 1px solid darkgray;
      padding: 10px;
    }
  }

  code {

  }

  pre {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    padding: 9.5px;
    background-color: rgba(0, 0, 0, 0.03);
  }
}