.markdown {
  table {
    border: 1px solid darkgray;
    margin: 20px;

    th {
      border: 1px solid darkgray;
      background-color: gainsboro;
      padding: 10px;
    }

    td {
      border: 1px solid darkgray;
      padding: 10px;
    }
  }
}