%h1 My page

.row
  .col-3
    .card
      %img.card-img-top{ src: current_user.icon_url, hight: '200', width: '200' }

      .card-body
        %h2.card-title= current_user.nickname
        = simple_format current_user.introduction
