%nav.navbar.navbar-toggleable-md.navbar-light.bg-faded{ style: 'background-color: #F5F5F5;'}
  -#
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
  = link_to 'Mini Blog', root_path, class: 'navbar-brand'
  %ul.nav
    %li.nav-item
      - if user_signed_in?
        = link_to 'Sign Out', signout_path
      - else
        = link_to 'Sign In', '/auth/google_oauth2'
